<div role="main" class="main pgl-bg-grey" ng-controller="aboutController">
  <!-- Begin page top -->
  <section class="page-top page-top1">
    <div class="container">
      <div class="page-top-in">
        <h2><span>About Me</span></h2>
      </div>
    </div>
  </section>
  <!-- End page top -->
  
  <!-- Begin Featured Agents -->
  <section class="pgl-agents">
    <div class="container">
      <div class="agent-profile">
        <div class="row">
          <div class="col-md-12">
            <div class="pgl-agent-item pgl-bg-light">
              <div class="row pgl-midnarrow-row">
                <div class="col-xs-3">
                  <div class="img-thumbnail-medium">
                    <a href="agentprofile.html"><img src="http://isvr.net/usr/1024566485//1398191413416Bill.jpg" class="img-responsive" alt=""></a>
                  </div>
                </div>
                <div class="col-xs-9">
                  <div class="pgl-agent-info">
                    <address>
                      <i class="fa fa-map-marker"></i> Toll Free: (866) 408-1644<br>
                      <i class="fa fa-map-marker"></i> Office : 1-408-355-1551<br>
                      <i class="fa fa-phone"></i> Mobile : 1-408-892-9300<br>
                      <i class="fa fa-fax"></i> Fax :  1-408-355-1599<br>
                      <i class="fa fa-envelope-o"></i> Mail: <a href="mailto:JohnSmith@gmail.com">JohnSmith@gmail.com</a>
                    </address>
                    I have been in a real estate agent in the Silicon Valley for over 22 years. An important quality that sets me apart from other real estate agents in the bay area is that I tell it how it is. My primary goal is to make sure that potential buyers understand the unique values of the properties I work with. Consistent communication throughout the entire process is as important to me as it is to my clients. It enables me to guide them through a successful transaction and home buying experience. With the right amount of work, dedication, and of course, expertise, I believe that anything is possible. </p>
                    </br>
                    <span>Some of my most recent accomplishments include:</span>
                    </br>
                    </br>
                    <ul>
                      <li>Top Producer in Los Gatos Coldwell Banker and consistently in the top 1% of Coldwell Banker's 69,000 agents nationwide.</li>
                      <li>The prestigious International President's Premier designation - the highest awarded by the Company.</li>
                      <li>Experienced in properties from condominiums to multi-million dollar estates. My list of clients includes first time buyers to long time repeat clients. Sales consistently exceed 100 million annually.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Featured Agents -->
      <section class="pgl-properties">
            <div class="properties-full">
              <div class="map pgl-bg-dark" >
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/BzVsHHTkipo" frameborder="0" allowfullscreen></iframe>
              </div>
 
            </div>
            

      </section>
    </div>
  </section>
  <!-- End Our Agents -->  
</div>

