<section class="pgl-agents">
    <div class="containerbu">
      <div class="agent-profile">
        <div class="row">
          <div class="col-md-12">
          <h2>About me</h2>
            <div class="pgl-agent-item pgl-bg-light">
              <div class="row pgl-midnarrow-row">
                <div class="col-xs-3">
                  <div class="img-thumbnail-medium">
                    <a href="agentprofile.html"><img src="http://isvr.net/usr/1024566485//1398191413416Bill.jpg" class="img-responsive" alt=""></a>
                  </div>
                </div>
                <div class="col-xs-9">
                  <div class="pgl-agent-info">
                    <small>NO.1</small>
                    <h4><a href="agentprofile.html">Bill Lister</a></h4>
                    <address>
                      <i class="fa fa-map-marker"></i> Office : 1-408-355-1551<br>
                      <i class="fa fa-phone"></i> Mobile : 1-408-892-9300<br>
                      <i class="fa fa-fax"></i> Fax :  1-408-355-1599<br>
                      <i class="fa fa-envelope-o"></i> Mail: <a href="mailto:JohnSmith@gmail.com">JohnSmith@gmail.com</a>
                    </address>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nisl velit, lacinia eu nisl at, sollicitudin molestie odio. Aliquam sed sem tristique, ornare augue et, auctor elit. Duis eget mi efficitur, auctor dui ac, laoreet orci. Fusce tincidunt nunc eu congue ullamcorper. Morbi efficitur ac dolor molestie sagittis. Maecenas at nisl auctor est gravida mattis non vitae velit. Aenean quis finibus ligula, et euismod orci. Nulla facilisi. Donec sed enim ipsum. Donec quis neque mi.</p>
<p>
Vestibulum maximus nibh vitae enim ullamcorper blandit. Proin lectus est, dictum sed blandit at, venenatis quis felis. Vivamus sit amet finibus orci. Phasellus sem lacus, maximus non maximus eget, vehicula quis mauris. Vestibulum id mi elementum, blandit odio ac, feugiat turpis. In dui sapien, commodo at blandit eu, luctus quis velit. Phasellus ac odio rhoncus eros auctor consectetur.
</p>
<p>
Aliquam erat augue, tristique auctor metus sit amet, tempus venenatis justo. Donec id erat sollicitudin, euismod mauris fringilla, viverra lacus. Phasellus fermentum interdum velit, ut laoreet augue fermentum in. Quisque porta nec leo ac maximus. Morbi arcu elit, imperdiet faucibus hendrerit sed, egestas eu ante. Donec id lorem consectetur, sollicitudin urna vel, varius libero. Proin vitae cursus lectus, quis dignissim ipsum. Nullam tincidunt tincidunt pretium. Nam in est at ligula ultrices blandit at et lorem. Vivamus et efficitur ante. Fusce eget ante nulla. Pellentesque pharetra vitae ex ac dapibus. Donec eu vestibulum lacus. Nulla non neque et sapien volutpat accumsan. Nunc lorem nunc, lobortis in ultrices quis, ultricies in metus. Donec hendrerit libero nunc, quis fermentum sapien fermentum non.
</p>
<p>
Pellentesque sit amet tristique mi. In nec tortor ac ligula feugiat dictum. Maecenas sit amet porta ligula, tincidunt consequat ligula. Vestibulum hendrerit imperdiet lectus at tristique. Aliquam finibus massa vel ex tristique dapibus. Vestibulum laoreet aliquet lorem a ultrices. Etiam nec malesuada eros.
</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>