<div role="main" class="main pgl-bg-grey">
      <!-- Begin page top -->
      <section class="page-top page-top2">
        <div class="container">
          <div class="page-top-in">
            <h2><span>Mike Spaniers Biography</span></h2>
          </div>
        </div>
      </section>
      <!-- End page top -->
      
      <!-- Begin content with sidebar -->

      <section class="pgl-agents">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="blog-posts">
                <article class="post post-large post-single">
                  
                  <div class="post-body">
                    
                    <div class="post-content">
                    <center>
                      <h4><i>Experience, Integrity, and a Passion for the Business</i></h4><br/>
                      <h2>MIKE SPANIER - COLDWELL BANKER</h2>
                            410 N. Santa Cruz Ave<br/>
                          Direct: (408) 205-1550 - (408) 355-1599 Fax<br/>
                          Email: mikespanier@comcast.net<br/>
                      </center>
                      <h4>Mission Statement</h4>
                      <p>
                        To personally provide the highest quality services to all my clients. Have complete dedication to the purchase and/or sale of my clients properties while utilizing my real estate experience, expertise and a high level of professional ethics and standards.
                      </p>
                      <h4>Professional Experience</h4>
                      <p>
                        Mike is part of the Bill Lister team, #1 in sales for 2011 for the Los Gatos office which is the #1 office in sales in Santa Clara County and #3 in the Nation.  Mike has been one of the top brokers in the area for over forty years. Combining this vast experience with a passion, integrity, high energy and a great attitude, he has achieved results that could only be viewed as extraordinary. The reason for his rarely matched success is hardwork, an unshakable commitment to his clients, and a determination to put the client's interests first. He has accumulated a large clientele over the years of satisfied clients.
                      </p>
                      <p>
                        Some of the other ingredients for his success are an innovative marketing plan combined with superb pricing and advertising strategies. Marketing is done through email, Facebook, Twitter and the internet, using the latest technologies, as well as classified advertisements in the local newspapers and magazines. Using the computerized office, with company server connected desktops, and wirelessly to an IPad and IPhone, Mike is able to produce optimum efficiency. Escrow tracking, client communication, and market analysis are all managed by a state-of-the-art customer relations platform and staff. 
                      </p>
                      <p>
                        "Mike not only helped me buy what is really the home of my dreams," says Roger Black, creative director of the @Home Network, "He worked within my budget, handled all the negotiations (resulting in considerable savings) and personally followed through on every step,  the inspections, the loan, and necessary repairs. Most impressively, he did not stop after the sale was closed. He helped me find contractors and other services until I was comfortably settled in my new home".
                      </p>
                      <h4>
                        Education & Awards
                      </h4>
                      <p>
                        Mike has received many awards:
                        <ul>
                        <li>In top 70 in Santa Clara County.</li>
                       <li> Top Achiever Award for 1988 through 2011.</li>
                        <li>Licensed in real estate since 1968, a broker since 1975.</li>
                        <li>Graduate of University of California at Berkeley - 1965 in Landscape Architecture.</li>
                        <li>Winner of numerous sales and achievement awards.  </li>
                        <li>Resident of Los Gatos/Saratoga since 1970.  </li>
                        <li>Member of the La Rinconada Country Club in Los Gatos.  </li>
                        <li>Member of Silicon Valley Association of Realtors.  </li>
                        <li>Member of The Rotary Club of Los Gatos.  </li>
                        <li>Other education includes a degree as a Certified Financial Planner (CFP).  </li>
                        <li>Reasons to Use Mike Spanier, as part of the Bill Lister team as your Listing Realtor</li>
                        </ul>
                      </p>
                      <h4>Reasons to Use Mike Spanier, as part of the Bill Lister team as your Listing Realtor</h4>
                      <ol>
                      <li>
                          <strong>Creative advertising, including social media, Facebook, etc...  </strong><br/>
                         Your property will get the attention it deserves   
                      </li>
                      <li>
                          <strong>Visually strong web site...  </strong><br/>
                         Using the power of the Internet to reach all buyers   
                      </li>
                      <li>
                       
                       <strong>Powerful team effort with an efficient assistant...  </strong><br/>
                         To handle all of the many details   
                       
                      </li>
                      <li>
                       <strong>Large network of Top agents...  </strong><br/>
                         Able to reach out to produce quality buyers   
                      </li>
                      <li>
                       <strong>Experience, over 40 years in local real estate...  </strong><br/>
                         Knows the market and the business   
                      </li>
                      <li>
                       <strong>One of the Top Listing agents over many years in Los Gatos & Saratoga...  </strong><br/>
                         Has been successful in helping his clients   
                      </li>
                      <li>
                       <strong>Knowledgeable re.Contracts, contingencies, qualifying your Buyers...  </strong><br/>
                         Will protect your investments   
                       
                      </li>
                      <li>
                       <strong>Team is one of the top in Santa Clara Valley...  </strong><br/>
                         The more you do, the more you know   
                      </li>
                      <li>
                       <strong>Commitment to my clients...  </strong><br/>
                         To do whatever it takes to satisfy you   
                       
                      </li>
                      <li>
                       <strong>Communication is important...  </strong><br/>
                         It's essential to keep you informed at all times   
                       
                      </li>
                      <li>
                       <strong>Office strength...  </strong><br/>
                         Mike's office can give the necessary support   
                      </li>
                      <li>
                       <strong>Accessible...  </strong><br/>
                         If you call his cell phone he is reached easily at (408) 205-1550

                      </li>
                      </ol>  
                    </div>
                  </div>
                  
                </article>
                
              </div>
            </div>
            
          </div>  
        </div>
      </section>
      <!-- End content with sidebar -->
      
    </div>