<section class="pgl-agents">
  <div class="container">
    <div class="agent-profile">
      <div class="pgl-agent-item pgl-bg-light">
        <div class="row">
          <div class="col-md-12">
            <h2>Disclosures</h2>
              <table border="0" cellpadding="2" cellspacing="0" width="600">
              <tbody><tr>
              <td><p class="custompage_p"><br><br><a target="_blank" href="http://millerlister.com/PDisclosures?id=1625226512">101 AMANDA LN, Los Gatos, CA 95032</a><br><br><a target="_blank" href="http://millerlister.com/PDisclosures?id=1650389665">5488 BLOSSOM WOOD DR, San Jose, CA 95124</a></p><p class="custompage_p"><a href="http://millerlister.com/PDisclosures?id=1627087431">1034 Bret Knoll, San Jose</a>, CA 95120</p><p class="custompage_p">&nbsp;</p><p class="custompage_p">&nbsp;</p></td>
              </tr>
              <tr>
              <td align="center"><img border="0" alt="" height="30" width="1" src="http://isvr.net/pix-data.gif"><br>
              </td>
              </tr>
              <tr>
              <td align="center"></td>
              </tr>
              </tbody></table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
