<div role="main" class="main pgl-bg-grey">
  <!-- Begin page top -->
  <section class="page-top page-top3">
    <div class="container">
      <div class="page-top-in">
        <h2><span>Free Reports</span></h2>
      </div>
    </div>
  </section>
  <!-- End page top -->
  
  <!-- Begin Featured Agents -->
  <section class="pgl-agents">
  <div class="container">
    <div class="agent-profile">
      <div class="pgl-agent-item pgl-bg-light">
        <div class="row">
          <div class="col-md-12">
              To download a report, simply click on its box. Choose as many reports as you wish.
              <hr/>
            <form id="contact-form" name="form1" method="post" action="send_contact.php">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-12">
                    <span style="float:right">* - Required fields</span>
                  </div>
                  <div class="col-sm-12">
                    <div class="">
                      <label><input type="checkbox" value="">Tips for the homebuyers GETTING STARTED</label>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="">
                      <label><input type="checkbox" value="">Tips for the homebuyers GENERAL FINANCING QUESTIONS</label>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="">
                      <label><input type="checkbox" value="">Tips for the homebuyers CLOSING</label>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="">
                      <label><input type="checkbox" value="">Seller Tips PRE-MARKETING CHECKLIST</label>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="">
                      <label><input type="checkbox" value="">Making Your Move Less Stressful</label>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="">
                      <label><input type="checkbox" value="">Real Estate Terms Dictionary</label>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <label for="name">Email Address*</label>
                    <input type="email" name="name" id="name" class="form-control" data-msg-required="Please enter your email." required>
                  </div>
                    <center><label>Note: Please be assured that your e-mail address will never be sold, shared or used for any other purpose without your permission.</label>
                    </center>
                </div>
              </div>
              <hr/>
              <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary min-wide" data-loading-text="Loading..." style="background-color:#3071a9">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  <!-- End Our Agents -->  
</div>


<style>
input[type=checkbox] {
    margin-right:10px;
}
</style>
