<section class="pgl-agents">
  <div class="container">
    <div class="agent-profile">
      <div class="pgl-agent-item pgl-bg-light">
        <div class="row">
          <div class="col-md-12">
            <h2>Reports</h2>
            <table border="0" cellspacing="0" cellpadding="0" class="maintable">
<tbody><tr>
<td align="center" colspan="3"><img height="10" width="1" src="http://isvr.net/pix-data.gif"><br>
</td>
</tr>
<tr valign="top">
<td><img height="300" width="1" src="http://isvr.net/pix-data.gif"></td><td>
<table border="0" cellspacing="5" cellpadding="0" width="97%">
<tbody><tr>
<td align="center">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr>
<td align="center"><span class="commonText">Free Reports<br>
<br>
</span></td>
</tr>
</tbody></table>
<table border="0" cellspacing="0" cellpadding="0">
<form method="post" action="/FreeReports" name="FR_form"></form>
<tbody><tr>
<td colspan="2" align="center"><span class="basicV">To download a report, simply click on its box. Choose as many reports as you wish.<br>
<br>
</span></td>
</tr>
<tr>
<td width="10"><img border="0" alt="" height="1" width="10" src="http://isvr.net/pix-data.gif"></td><td width="98%">
<table width="580" border="0" cellspacing="4" cellpadding="0">
<tbody><tr>
<td><input value="Tips for the homebuyers GETTING STARTED;sr;TipsforthehomebuyersGETTINGSTARTED1.pdf" name="standard_report1" type="checkbox"></td><td><img border="0" alt="" height="1" width="1" src="http://isvr.net/pix-data.gif"></td><td><span class="basicV">Tips for the homebuyers GETTING STARTED</span></td>
</tr>
<tr>
<td><input value="Tips for the homebuyers GENERAL FINANCING QUESTIONS;sr;TipsforthehomebuyersGENERALFINANCINGQUESTIONS.pdf" name="standard_report2" type="checkbox"></td><td><img border="0" alt="" height="1" width="1" src="http://isvr.net/pix-data.gif"></td><td><span class="basicV">Tips for the homebuyers GENERAL FINANCING QUESTIONS</span></td>
</tr>
<tr>
<td><input value="Tips for the homebuyers CLOSING;sr;TipsforthehomebuyersCLOSING.pdf" name="standard_report3" type="checkbox"></td><td><img border="0" alt="" height="1" width="1" src="http://isvr.net/pix-data.gif"></td><td><span class="basicV">Tips for the homebuyers CLOSING</span></td>
</tr>
<tr>
<td><input value="Seller Tips PRE-MARKETING CHECKLIST;sr;SellerTipsPRE-MARKETINGCHECKLIST.pdf" name="standard_report4" type="checkbox"></td><td><img border="0" alt="" height="1" width="1" src="http://isvr.net/pix-data.gif"></td><td><span class="basicV">Seller Tips PRE-MARKETING CHECKLIST</span></td>
</tr>
<tr>
<td><input value="Making Your Move Less Stressful;sr;MakingRelocationEasier.pdf" name="standard_report5" type="checkbox"></td><td><img border="0" alt="" height="1" width="1" src="http://isvr.net/pix-data.gif"></td><td><span class="basicV">Making Your Move Less Stressful</span></td>
</tr>
<tr>
<td><input value="Real Estate Terms Dictionary;sr;RealEstateTermsDictionary.pdf" name="standard_report6" type="checkbox"></td><td><img border="0" alt="" height="1" width="1" src="http://isvr.net/pix-data.gif"></td><td><span class="basicV">Real Estate Terms Dictionary</span></td>
</tr>
</tbody></table>
</td>
</tr>
<tr>
<td class="colormainbg" colspan="2"><img border="0" alt="" height="20" width="1" src="http://isvr.net/pix-data.gif"></td>
</tr>
<tr>
<td width="10"><img border="0" alt="" height="1" width="10" src="http://isvr.net/pix-data.gif"></td><td align="left">
<table border="0" cellspacing="0" cellpadding="0">
<tbody><tr>
<td colspan="2"><nobr><span class="basicVb">Your email address<span style="color:#ff0000">*</span>:&nbsp;</span></nobr>
<br>
<img border="0" alt="" height="4" width="1" src="http://isvr.net/pix-data.gif"></td>
</tr>
<tr>
<td><input value="" size="23" style="width:300px;" class="basicV" name="contactEmail" type="text"><script>document.FR_form.contactEmail.onEnter="doSubmit()";</script></td><td><nobr><span class="d" style="color:#ff0000">- required field<br>
</span></nobr></td>
</tr>
<tr>
<td colspan="2">
<table border="0" cellspacing="2" cellpadding="0">
<tbody><tr>
<td><span class="basicAsm"><span style="text-decoration:underline;">Note:</span> Please be assured that your e-mail address will never be sold, shared or used for any other purpose without your permission.<br>
</span></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
<tr>
<td class="colormainbg" colspan="2"><img border="0" alt="" height="10" width="1" src="http://isvr.net/pix-data.gif"></td>
</tr>
<tr>
<td colspan="2">
<hr size="1">
</td>
</tr>
<tr>
<td align="center" colspan="2">
<style> a{text-decoration:none} </style>
<table border="0" height="26" cellspacing="0" cellpadding="0">
<tbody><tr>
<td bgcolor="#E77942" align="right" height="2" colspan="5"><img border="0" alt="" height="2" width="2" src="http://static.propertyminder.com/html/images/pix-data.gif"></td>
</tr>
<tr>
<td bgcolor="#E77942" width="2"><img border="0" alt="" height="1" width="1" src="http://static.propertyminder.com/html/images/pix-data.gif"></td><td bgcolor="#CE5518" width="17"><img border="0" alt="" height="22" width="17" src="http://static.propertyminder.com/html/images/pix-data.gif"><br>
</td><td bgcolor="#CE5518" align="center" height="22" width="60"><a onclick="" href="javascript:doSubmit()"><span style="color:#FFD7BD;text-decoration:none;font-size: 12pt;font-family: 'Arial';border: none;background: none;" class="button"><nobr>SUBMIT</nobr></span></a></td><td bgcolor="#CE5518" width="17"><img border="0" alt="" height="22" width="17" src="http://static.propertyminder.com/html/images/pix-data.gif"><br>
</td><td bgcolor="#8C3000" width="2"><img border="0" alt="" height="1" width="1" src="http://static.propertyminder.com/html/images/pix-data.gif"></td>
</tr>
<tr>
<td bgcolor="#8C3000" height="2" colspan="5"><img border="0" alt="" height="2" width="2" src="http://static.propertyminder.com/html/images/pix-data.gif"></td>
</tr>
</tbody></table>
</td>
</tr>
<input value="send" name="operation" type="hidden">
<tr>
<td class="colormainbg" colspan="2"><img border="0" alt="" height="30" width="1" src="http://isvr.net/pix-data.gif"></td>
</tr>

</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
<tr>
<td colspan="3">
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody><tr>
<td align="center"><img height="20" width="1" src="http://isvr.net/pix-data.gif"><br>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>