<section class="pgl-agents">
  <div class="container">
    <div class="agent-profile">
      <div class="pgl-agent-item pgl-bg-light">
        <div class="row">
          <div class="col-md-12">
            <h2>Seller Advice</h2>
            <table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody><tr>
<td align="center"><img border="0" alt="" height="1" width="585" src="//isvr.net/pix-data.gif"><br>
<table border="0" cellspacing="10" cellpadding="0">
<tbody><tr>
<td valign="top" align="left" colspan="2">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr>
</tr>
</tbody></table>
<div align="right">
<span class="text">
<br>
<br>
</span>
</div>
<span class="text">Fully preparing your home for sale can make a considerable difference in the time it takes to sell it. You can help eliminate buyer objections before they arise by making necessary repairs and improvements, some of which are suggested below.</span>
<br>
<img height="7" width="1" src="http://isvr.net/pix-data.gif"></td>
</tr>
<tr>
<td valign="top" width="50%">
<table border="0" cellspacing="0" cellpadding="3" width="100%">
<tbody><tr>
<td colspan="2" align="left"><img height="1" width="10" src="http://isvr.net/pix-data.gif"><span class="dirTitle">Outdoors</span>
<br>
<img height="5" width="1" src="http://isvr.net/pix-data.gif"></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Spruce up your garden and lawn; trim shrubbery and replace dead plants.</span></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Yard and patio should be neat; outdoor furniture should be clean and in good shape.</span></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Clean or paint your front door - remember first impressions last the longest!</span></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Manicure your front yard; make sure your driveway and entryway are free of clutter.</span></td>
</tr>
<tr>
<td colspan="2" align="left"><img height="1" width="10" src="http://isvr.net/pix-data.gif"><span class="dirTitle">Exterior</span>
<br>
<img height="5" width="1" src="http://isvr.net/pix-data.gif"></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Check that house numbers, mailbox, and exterior lighting are all in good condition.</span></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Touch up with fresh paint as needed.</span></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Inspect chimney for cracks or earthquake damage.</span></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Repair loose trim, drain pipes, and fencing.</span></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Clean stains and window screens.</span></td>
</tr>
<tr>
<td colspan="2" align="left"><img height="1" width="10" src="http://isvr.net/pix-data.gif"><span class="dirTitle">Garage</span>
<br>
<img height="5" width="1" src="http://isvr.net/pix-data.gif"></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Remove clutter and tidy up the shelves.</span></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Clean the floor.</span></td>
</tr>
<tr>
<td colspan="2" align="left"><img height="1" width="10" src="http://isvr.net/pix-data.gif"><span class="dirTitle">Living Areas</span>
<br>
<img height="5" width="1" src="http://isvr.net/pix-data.gif"></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Apply fresh paint as needed... think about brightening your interiors with neutral-toned paint.</span></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Clean carpets.</span></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Replace burnt out light bulbs.</span></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Clean the fireplace and remove smoke stains from the wall and mantle.</span></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Clean window coverings.</span></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Replace damaged window blinds.</span></td>
</tr>
</tbody></table>
</td><td valign="top" width="50%">
<table border="0" cellspacing="0" cellpadding="2" width="100%">
<tbody><tr>
<td colspan="2" align="left"><img height="1" width="10" src="http://isvr.net/pix-data.gif"><span class="dirTitle">Kitchen</span>
<br>
<img height="5" width="1" src="http://isvr.net/pix-data.gif"></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Sinks, appliances, and counter tops should sparkle; remove any clutter.</span></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Clean the oven, range, and other appliances.</span></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Clean tile and grout; replace if necessary.</span></td>
</tr>
<tr>
<td colspan="2" align="left"><img height="1" width="10" src="http://isvr.net/pix-data.gif"><span class="dirTitle">Bathrooms</span>
<br>
<img height="5" width="1" src="http://isvr.net/pix-data.gif"></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Clean mirrors, glass, chrome, and porcelain surfaces.</span></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Replace shower curtain if necessary.</span></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Fix any faucet drips or leaks.</span></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Clean grout and caulking; replace if necessary.</span></td>
</tr>
<tr>
<td colspan="2" align="left"><img height="1" width="10" src="http://isvr.net/pix-data.gif"><span class="dirTitle">Closets</span>
<br>
<img height="5" width="1" src="http://isvr.net/pix-data.gif"></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Doors and drawers should open and close easily.</span></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Remove clutter; tidy up shelves and racks.</span></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Shoes and clothes should be neatly arranged.</span></td>
</tr>
<tr>
<td colspan="2" align="left"><img height="1" width="10" src="http://isvr.net/pix-data.gif"><span class="dirTitle">Overall</span>
<br>
<img height="5" width="1" src="http://isvr.net/pix-data.gif"></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Check the basics around the house. It takes just a minute to check all doors, windows and cabinets to make sure they don't stick, squeak or are too loose.</span></td>
</tr>
<tr>
<td valign="top" align="left"><img height="12" width="30" src="http://isvr.net/realtor-images/checkbox.gif"></td><td valign="top" align="left"><span class="text">Clean your furnace and water heater so buyers know they are looking at a house that has been well maintained.</span></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
<tr>
<td align="center"></td>
</tr>
</tbody></table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>